<app-navbar></app-navbar>
<div class="container">
  <h1>¡Calcula el promedio de tu carrera!</h1>
  <div class="notas">
    <div class="info">
      <p>Ingresa el promedio del semestre con su respectiva cantidad de créditos, (las casillas en blanco no afectaran el resultado), puedes usar decimales.</p>
      <button>
        Agregar semestre
      </button>
    </div>
    <div class="nota_semestre titulos">
      <p>Semestres</p>
      <p>Nota</p>
      <p>Créditos</p>
    </div>
    <div class="nota_semestre">
      <p>Semestre 1</p>
      <input type="number" placeholder="5.0">
      <input type="number" placeholder="20">
    </div>
    <div class="nota_semestre">
      <p>Semestre 2</p>
      <input type="number" placeholder="4.0">
      <input type="number" placeholder="18">
    </div>
    <div class="botones">
      <button class="calcular">Calcular</button>
    </div>
    <div class="resultado">
      <p>Tu promedio es: </p>
      <p class="prom">4.0</p>
    </div>
  </div>
</div>

